In [1]:
!pip install ipython-sql prettytable

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (8.32.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (2.0.40)
Requirement already satisfied: sqlparse in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (5.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas, sqlite3, csv

In [6]:
con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

In [4]:
%load_ext sql

In [7]:
%sql sqlite:///FinalDB.db

In [8]:
df=pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")

In [10]:
df.to_sql("Chicago_Census_Data", con, if_exists="replace", index=False)

78

In [11]:
df=pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")

In [33]:
df.to_sql("Chicago_Public_Schools",con, if_exists="replace", index=False)

533

In [13]:
df=pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")

In [14]:
df.to_sql("Chicago_Crime_Data", con, if_exists="replace", index=False)

533

### Confirm if the above SQL tables were created!

In [35]:
%sql SELECT name FROM sqlite_master WHERE type='table'

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('Chicago_Census_Data',),
 ('Chicago_Public_Schhols',),
 ('Chicago_Crime_Data',),
 ('Chicago_Public_Schools',)]

### Problem 1
#### Find the total number of crimes recorded in the CRIME table.

In [25]:
%sql SELECT count(*) FROM Chicago_Crime_Data

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2
#### List community area names and numbers with per capita income less than 11000.

In [31]:
%sql SELECT name, type, length(type) FROM PRAGMA_TABLE_INFO ('Chicago_Census_Data')

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('COMMUNITY_AREA_NUMBER', 'REAL', 4),
 ('COMMUNITY_AREA_NAME', 'TEXT', 4),
 ('PERCENT_OF_HOUSING_CROWDED', 'REAL', 4),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'REAL', 4),
 ('PERCENT_AGED_16__UNEMPLOYED', 'REAL', 4),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'REAL', 4),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'REAL', 4),
 ('PER_CAPITA_INCOME', 'INTEGER', 7),
 ('HARDSHIP_INDEX', 'REAL', 4)]

In [32]:
%sql SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM Chicago_Census_Data WHERE PER_CAPITA_INCOME <11000

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

### Problem 3
#### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [42]:
%sql SELECT name FROM PRAGMA_TABLE_INFO ('Chicago_Crime_Data')

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('ID',),
 ('CASE_NUMBER',),
 ('DATE',),
 ('BLOCK',),
 ('IUCR',),
 ('PRIMARY_TYPE',),
 ('DESCRIPTION',),
 ('LOCATION_DESCRIPTION',),
 ('ARREST',),
 ('DOMESTIC',),
 ('BEAT',),
 ('DISTRICT',),
 ('WARD',),
 ('COMMUNITY_AREA_NUMBER',),
 ('FBICODE',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('YEAR',),
 ('LATITUDE',),
 ('LONGITUDE',),
 ('LOCATION',)]

In [71]:
%sql SELECT DISTINCT CASE_NUMBER FROM Chicago_Crime_Data WHERE \
(DESCRIPTION LIKE '%MINOR%' OR DESCRIPTION LIKE '%JUVENILE%' AND DESCRIPTION NOT LIKE '%CHILD%') \
ORDER BY CASE_NUMBER;

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('HK238408',), ('HL266884',)]

### Problem 4
#### List all kidnapping crimes involving a child?

In [73]:
%sql SELECT CASE_NUMBER, BLOCK, DATE, PRIMARY_TYPE, DESCRIPTION, LOCATION_DESCRIPTION FROM Chicago_Crime_Data WHERE \
PRIMARY_TYPE = 'KIDNAPPING' AND (DESCRIPTION LIKE '%CHILD%' OR DESCRIPTION LIKE '%JUVENILE%' OR DESCRIPTION LIKE '%MINOR%');

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('HN144152', '050XX W VAN BUREN ST', '2007-01-26', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET')]

### Problem 5
#### List the kind of crimes that were recorded at schools. (No repetitions)

In [89]:
%sql SELECT DISTINCT PRIMARY_TYPE FROM Chicago_Crime_Data WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6
#### List the type of schools along with the average safety score for each type

In [90]:
%sql SELECT name FROM PRAGMA_TABLE_INFO ('Chicago_Public_Schhols')

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('School_ID',),
 ('NAME_OF_SCHOOL',),
 ('Elementary, Middle, or High School',),
 ('Street_Address',),
 ('City',),
 ('State',),
 ('ZIP_Code',),
 ('Phone_Number',),
 ('Link',),
 ('Network_Manager',),
 ('Collaborative_Name',),
 ('Adequate_Yearly_Progress_Made_',),
 ('Track_Schedule',),
 ('CPS_Performance_Policy_Status',),
 ('CPS_Performance_Policy_Level',),
 ('HEALTHY_SCHOOL_CERTIFIED',),
 ('Safety_Icon',),
 ('SAFETY_SCORE',),
 ('Family_Involvement_Icon',),
 ('Family_Involvement_Score',),
 ('Environment_Icon',),
 ('Environment_Score',),
 ('Instruction_Icon',),
 ('Instruction_Score',),
 ('Leaders_Icon',),
 ('Leaders_Score',),
 ('Teachers_Icon',),
 ('Teachers_Score',),
 ('Parent_Engagement_Icon',),
 ('Parent_Engagement_Score',),
 ('Parent_Environment_Icon',),
 ('Parent_Environment_Score',),
 ('AVERAGE_STUDENT_ATTENDANCE',),
 ('Rate_of_Misconducts__per_100_students_',),
 ('Average_Teacher_Attendance',),
 ('Individualized_Education_Program_Compliance_Rate',),
 ('Pk_2_Literacy__',),
 ('Pk_2_Math__',),
 ('Gr3_5_Grade_Level_Math__',),
 ('Gr3_5_Grade_Level_Read__',),
 ('Gr3_5_Keep_Pace_Read__',),
 ('Gr3_5_Keep_Pace_Math__',),
 ('Gr6_8_Grade_Level_Math__',),
 ('Gr6_8_Grade_Level_Read__',),
 ('Gr6_8_Keep_Pace_Math_',),
 ('Gr6_8_Keep_Pace_Read__',),
 ('Gr_8_Explore_Math__',),
 ('Gr_8_Explore_Read__',),
 ('ISAT_Exceeding_Math__',),
 ('ISAT_Exceeding_Reading__',),
 ('ISAT_Value_Add_Math',),
 ('ISAT_Value_Add_Read',),
 ('ISAT_Value_Add_Color_Math',),
 ('ISAT_Value_Add_Color_Read',),
 ('Students_Taking__Algebra__',),
 ('Students_Passing__Algebra__',),
 ('9th Grade EXPLORE (2009)',),
 ('9th Grade EXPLORE (2010)',),
 ('10th Grade PLAN (2009)',),
 ('10th Grade PLAN (2010)',),
 ('Net_Change_EXPLORE_and_PLAN',),
 ('11th Grade Average ACT (2011)',),
 ('Net_Change_PLAN_and_ACT',),
 ('College_Eligibility__',),
 ('Graduation_Rate__',),
 ('College_Enrollment_Rate__',),
 ('COLLEGE_ENROLLMENT',),
 ('General_Services_Route',),
 ('Freshman_on_Track_Rate__',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('Latitude',),
 ('Longitude',),
 ('COMMUNITY_AREA_NUMBER',),
 ('COMMUNITY_AREA_NAME',),
 ('Ward',),
 ('Police_District',),
 ('Location',)]

In [111]:
%sql SELECT `Elementary, Middle, or High School` AS School_Type, ROUND(AVG(SAFETY_SCORE),2) AS AVERAGE_SAFETY_SCORE, COUNT(*) AS Number_Schools FROM Chicago_Public_Schhols GROUP BY `Elementary, Middle, or High School`;

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('ES', 49.52, 462), ('HS', 49.62, 93), ('MS', 48.0, 11)]

### Problem 7
#### List 5 community areas with highest % of households below poverty line

In [112]:
%sql SELECT name FROM PRAGMA_TABLE_INFO('Chicago_Census_Data')

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('COMMUNITY_AREA_NUMBER',),
 ('COMMUNITY_AREA_NAME',),
 ('PERCENT_OF_HOUSING_CROWDED',),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY',),
 ('PERCENT_AGED_16__UNEMPLOYED',),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA',),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64',),
 ('PER_CAPITA_INCOME',),
 ('HARDSHIP_INDEX',)]

In [113]:
%sql SELECT COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM \
Chicago_Census_Data ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('Riverdale', 54.0, 56.5),
 ('Fuller Park', 37.0, 51.2),
 ('Englewood', 68.0, 46.6),
 ('North Lawndale', 29.0, 43.1),
 ('East Garfield Park', 27.0, 42.4)]

### Problem 8
#### Which community area is most crime prone? Display the coumminty area number only.

In [115]:
%sql SELECT name FROM PRAGMA_TABLE_INFO('Chicago_Crime_Data')

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('ID',),
 ('CASE_NUMBER',),
 ('DATE',),
 ('BLOCK',),
 ('IUCR',),
 ('PRIMARY_TYPE',),
 ('DESCRIPTION',),
 ('LOCATION_DESCRIPTION',),
 ('ARREST',),
 ('DOMESTIC',),
 ('BEAT',),
 ('DISTRICT',),
 ('WARD',),
 ('COMMUNITY_AREA_NUMBER',),
 ('FBICODE',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('YEAR',),
 ('LATITUDE',),
 ('LONGITUDE',),
 ('LOCATION',)]

In [118]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) AS CRIME_COUNT FROM Chicago_Crime_Data WHERE COMMUNITY_AREA_NUMBER IS NOT NULL \
GROUP BY COMMUNITY_AREA_NUMBER ORDER BY CRIME_COUNT DESC LIMIT 1;

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

### Problem 9
#### Use a sub-query to find the name of the community area with highest hardship index

In [119]:
%sql SELECT name FROM PRAGMA_TABLE_INFO('Chicago_Census_Data')

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('COMMUNITY_AREA_NUMBER',),
 ('COMMUNITY_AREA_NAME',),
 ('PERCENT_OF_HOUSING_CROWDED',),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY',),
 ('PERCENT_AGED_16__UNEMPLOYED',),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA',),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64',),
 ('PER_CAPITA_INCOME',),
 ('HARDSHIP_INDEX',)]

In [120]:
%sql SELECT MAX(HARDSHIP_INDEX) FROM Chicago_Census_Data

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[(98.0,)]

In [145]:
%sql SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM Chicago_Census_Data WHERE HARDSHIP_INDEX IN (SELECT MAX(HARDSHIP_INDEX) FROM Chicago_Census_Data)

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

### Problem 10
#### Use a sub-query to determine the Community Area Name with most number of crimes?

In [124]:
%sql SELECT name FROM PRAGMA_TABLE_INFO('Chicago_Crime_Data')

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('ID',),
 ('CASE_NUMBER',),
 ('DATE',),
 ('BLOCK',),
 ('IUCR',),
 ('PRIMARY_TYPE',),
 ('DESCRIPTION',),
 ('LOCATION_DESCRIPTION',),
 ('ARREST',),
 ('DOMESTIC',),
 ('BEAT',),
 ('DISTRICT',),
 ('WARD',),
 ('COMMUNITY_AREA_NUMBER',),
 ('FBICODE',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('YEAR',),
 ('LATITUDE',),
 ('LONGITUDE',),
 ('LOCATION',)]

In [139]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) AS CRIME_COUNT FROM Chicago_Crime_Data WHERE COMMUNITY_AREA_NUMBER IS NOT NULL GROUP BY COMMUNITY_AREA_NUMBER \
ORDER BY CRIME_COUNT DESC LIMIT 1;

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

In [144]:
%sql SELECT COMMUNITY_AREA_NAME FROM Chicago_Census_Data WHERE COMMUNITY_AREA_NUMBER =25.0;

   sqlite:///Final.db
 * sqlite:///FinalDB.db
Done.

[('Austin',)]